@import url('https://db.onlinewebfonts.com/c/582cac299faac1ab8d378a6488ba2ced?family=Digital+Dismay');

div {
  --red: #c40000;
  --redMedium: #b30202;
  --redDark: #6b0000;
  --redDarker: #480000;
}

.flagCounter {
  background: var(--redDarker);
  border: 2px inset var(--redMedium);
  color: var(--redDark);
  position: relative;
  width: 50px;
  height: 25px;
  font-size: 30px;
  font-family: 'Digital Dismay', courier new;
  text-align: center;
  line-height: 25px;
}
.flagCounter > div {
  color: var(--red);
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
}
