div {
  --base: rgb(214, 210, 210);
  --darkAccent: rgb(141, 130, 130);
  --lightAccent: #ffffff;
}

.face {
  width: 25px;
  height: 25px;
  display: flex;
  background: var(--base);
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  border: 2px solid;
  border-color: var(--lightAccent) var(--darkAccent) var(--darkAccent) var(--lightAccent);
}
