div {
  --base: rgb(214, 210, 210);
  --darkAccent: rgb(141, 130, 130);
  --lightAccent: #ffffff;
}

.scoreboard {
  background: var(--base);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px 8px;
  border: 2px solid;
  border-color: var(--darkAccent) var(--lightAccent) var(--lightAccent) var(--darkAccent);
}

.scoreboard div:last-child {
  justify-self: end;
}

.scoreboard div:nth-child(2) {
  justify-self: center;
}
